/*universal styles*/
body {
  background-color: black;
  font-family: 'verdana';
  color: white;
}

/*logo*/
/*main banner*/
/*navigation*/
/*product grid*/
/*exploding pen*/
/*cellular watch*/
/*locatiours*/
/*location*/
/*hours*/
/*footer*/

/*you can do it =)*/
/*i believe in you!*/
